/* [project]/src/app/page.module.scss.module.css (css, rsc) */
.main__page__3452a09f {
  background-color: coral;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 100vh;
}
.main__page__3452a09f .container__page__3452a09f {
  background-color: blue;
}