/* [project]/src/app/Home.module.scss.module.css (css, rsc) */
main {
  display: flex;
  background-color: #f2eae4;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
main .titleContainer__Home__259b4ce8 {
  height: 33.3%;
  width: 100%;
}
main .titleContainer__Home__259b4ce8 .title__Home__259b4ce8 {
  text-align: center;
}
main .heroSection__Home__259b4ce8 {
  height: 33.3%;
}
main .button_cont__Home__259b4ce8 {
  display: flex;
  width: 100vw;
  height: 33.3%;
  justify-content: center;
  align-items: flex-start;
}
main .button_cont__Home__259b4ce8 .links__Home__259b4ce8 {
  background: #d7f205;
  color: #000;
  font-family: inherit;
  padding: .6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #000;
  border-radius: .4em;
  box-shadow: .1em .1em;
  text-decoration: none;
}
main .button_cont__Home__259b4ce8 .links__Home__259b4ce8:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: .15em .15em;
}
main .button_cont__Home__259b4ce8 .links__Home__259b4ce8:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: .05em .05em;
  text-decoration: none;
}