main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    .button_cont {
        width: 100vw;
        height: 50%;
        background-color: coral;

        .links {
            background: #FBCA1F;
            color: black;
            font-family: inherit;
            padding: 0.6em 1.3em;
            font-weight: 900;
            font-size: 18px;
            border: 3px solid black;
            border-radius: 0.4em;
            box-shadow: 0.1em 0.1em;
            text-decoration: none;
        }

        .links:hover {
            transform: translate(-0.05em, -0.05em);
            box-shadow: 0.15em 0.15em;
        }

        .links:active {
            transform: translate(0.05em, 0.05em);
            box-shadow: 0.05em 0.05em;
            text-decoration: none;
        }
    }
}